.bg-img{
   background:linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
   url(/Images/changing-weather.jpg) no-repeat center;
   background-position: 100% 72%;
   color:white;
   height: 35em;
   padding-top: 9em;
   margin-bottom: 2em;
}
.nav-no-space{
    margin-bottom:0px !important;
}
.error{
   color:red;
}
.forecastDiv{
   margin-bottom: 2em;
}